{% extends 'app/base.html' %}
{% load static %}

{% block content %}
<div class="history">
    <h1>История сделок</h1>
    <form method="get" class="filter-form">
        {{ form.as_p }}
        <button type="submit">Применить</button>
    </form>
    <table>
        <thead>
            <tr>
                <th>Криптовалюта</th>
                <th>Дата</th>
                <th>Цена открытия</th>
                <th>Прибыль</th>
                <th>Тип операции</th>
            </tr>
        </thead>
        <tbody>
            {% for position in positions %}
            <tr>
                <td>{{ position.crypto.name }}</td>
                <td>{{ position.open_time }}</td>
                <td>{{ position.open_price }}</td>
                <td>{{ position.profit }}</td>
                <td>{{ position.get_position_type_display }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
