{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>{{title}}</title>
	<link type="text/css" href="{% static 'app/css/style.css' %}" rel="stylesheet" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<header class="header-home-page">
    <div class="logo">БИРЖА</div>
    <nav>
        <a href="#">Быстрый старт</a>
        <a href="#">Бесплатное демо</a>
        <a href="#">О компании</a>
    </nav>
</header>
<body>
	<section class="hero">
        <div class="hero-text">
            <h1>ВАШ НАДЕЖНЫЙ ПАРТНЕР ДЛЯ ОНЛАЙН-ТОРГОВЛИ НА ФИНАНСОВЫХ РЫНКАХ</h1>
            <p>Торговля с удобством и простотой. Более 100 мировых активов в вашем распоряжении</p>
            <button>Торговать</button>
        </div>
        <div class="hero-image">
            <img src="{% static 'app/img/monitor.png' %}" alt="Trading Screen">
        </div>
    </section>
    <section class="advantages">
        <div class="advantage">
            <h2>ОФОРМЛЯЙТЕ ТОРГОВЫЕ ОРДЕРА С МАКСИМАЛЬНО ВЫГОДНЫМИ УСЛОВИЯМИ</h2>
            <ul>
                <li><p><strong><p>150$</p></strong> МИНИМАЛЬНАЯ СУММА ИНВЕСТИЦИИ</p></li>
                <li><p><strong><p>0,1$</p></strong> МИНИМАЛЬНАЯ СУММА СДЕЛКИ</p></li>
                <li><p><strong><p>10$</p></strong> МИНИМАЛЬНАЯ СУММА ВЫВОДА</p></li>
                <li><p><strong><p>50+</p></strong> КРИПТОВАЛЮТ НА ВЫБОР</p></li>
            </ul>
        </div>
        <div class="advantage-image">
        	<img src="{% static 'app/img/phone.png' %}" alt="Chart Screen">
    	</div>
    </section>
    <section class="why-us">
        <h2>ПОЧЕМУ ИМЕННО МЫ?</h2>
        <div class="reasons">
            <div class="reason">
                <h3>УДОБНЫЙ ИНТЕРФЕЙС</h3>
                <p>Наш понятный интерфейс создан для того, чтобы сделать процесс торговли максимально простым и комфортным.</p>
            </div>
            <div class="reason">
                <h3>ВЫСОКАЯ БЕЗОПАСНОСТЬ</h3>
                <p>Мы обеспечиваем высокий уровень безопасности для ваших активов, используя передовые технологии шифрования.</p>
            </div>
            <div class="reason">
                <h3>КОНКУРЕНТНЫЕ УСЛОВИЯ ТОРГОВЛИ</h3>
                <p>Размещайте торговые ордера на максимально выгодных условиях, управляя своими сделками с максимальной выгодой.</p>
            </div>
            <div class="reason">
                <h3>БЫСТРЫЕ ТРАНЗАКЦИИ</h3>
                <p>Мы обеспечиваем быстрые и надежные транзакции, чтобы вы могли мгновенно реагировать на изменения рынка.</p>
            </div>
        </div>
    </section>
</body>	

