{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link type="text/css" href="{% static 'app/css/style.css' %}" rel="stylesheet" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<header class="header-home-page">
    <div class="logo">EXCHANGE</div>
    <nav>
        <a href="{% url 'fast_start' %}">Quick Start</a>
        <a href="{% url 'demo_trade' %}">Free Demo</a>
    </nav>
</header>
<body class="index-page">
    <section class="hero">
        <div class="hero-text fade-in">
            <h1>YOUR RELIABLE PARTNER FOR ONLINE TRADING ON FINANCIAL MARKETS</h1>
            <p>Trade with convenience and ease. Over 100 global assets at your disposal</p>
            {% if user.is_authenticated %}
                <button><a href="{% url 'trade' %}">Trade</a></button>
            {% else %}
                <button><a href="{% url 'login' %}">Trade</a></button>
            {% endif %}
        </div>
        <div class="hero-image fade-in">
            <img src="{% static 'app/img/monitor.png' %}" alt="Trading Screen">
        </div>
    </section>
    <div class="information fade-in">
        <section class="advantages">
            <div class="advantage">
                <h2>PLACE TRADING ORDERS WITH MAXIMUM BENEFICIAL CONDITIONS</h2>
                <ul>
                    <li><strong class="count-up" data-target="150">$0</strong> MINIMUM INVESTMENT AMOUNT</li>
                    <li><strong>$0.1</strong> MINIMUM DEAL AMOUNT</li>
                    <li><strong class="count-up" data-target="10">$0</strong> MINIMUM WITHDRAWAL AMOUNT</li>
                    <li><strong class="count-up" data-target="50">50+</strong> CRYPTOCURRENCIES TO CHOOSE FROM</li>
                </ul>
            </div>
            <div class="advantage-image">
                <img src="{% static 'app/img/phone.png' %}" alt="Chart Screen">
            </div>
        </section>
        <section class="why-us fade-in">
        <div class="advantage">
            <h2>WHY CHOOSE US?</h2>
            <ul>
                <li>
                    <h3>USER-FRIENDLY INTERFACE</h3>
                    <p>Our intuitive interface is designed to make the trading process as simple and comfortable as possible.</p>
                </li>
                <li>
                    <h3>HIGH SECURITY</h3>
                    <p>We ensure a high level of security for your assets using advanced encryption technologies.</p>
                </li>
                <li>
                    <h3>COMPETITIVE TRADING CONDITIONS</h3>
                    <p>Place trading orders under the most advantageous conditions, managing your deals with maximum benefit.</p>
                </li>
                <li>
                    <h3>FAST TRANSACTIONS</h3>
                    <p>We provide fast and reliable transactions so you can instantly react to market changes.</p>
                </li>
            </ul>
        </div>
        </section>
    </div>
     <script type="text/javascript" src="{% static 'app/js/script.js' %}"></script>
</body> 
</html>
