{% extends 'app/base.html' %}
{% load static %}

{% block content %}
<div class="profile">
    <h1>Профиль</h1>
    <form method="post" class="profile-form">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_full_name">ФИО:</label>
            <input type="text" id="id_full_name" name="full_name" value="{{ user.full_name }}" readonly>
            <button type="button" onclick="toggleEdit('id_full_name')"><img src="{% static 'app/img/edit.png' %}"></button>
        </div>
        <hr>
        <div class="form-group">
            <label for="id_email">Эл. почта:</label>
            <input type="email" id="id_email" name="email" value="{{ user.email }}" readonly>
            <button type="button" onclick="toggleEdit('id_email')"><img src="{% static 'app/img/edit.png' %}"></button>
        </div>
        <hr>
        <div class="form-group">
            <label for="id_date_of_birth">Дата рождения:</label>
            <input type="date" id="id_date_of_birth" name="date_of_birth" value="{{ user.date_of_birth|date:'Y-m-d' }}" readonly>
            <button type="button" onclick="toggleEdit('id_date_of_birth')"><img src="{% static 'app/img/edit.png' %}"></button>
        </div>
        <hr>
        <div class="form-group">
            <label>Дата создания аккаунта:</label>
            <span>{{ user.date_joined }}</span>
        </div>
        <hr>
        <div class="form-group">
            <label>Дата последней сделки:</label>
            <span>{{ last_trade_date }}</span>
        </div>
        <hr>
        <div class="form-group">
            <label>Любимая криптовалюта:</label>
            <span>{{ favorite_crypto }}</span>
        </div>
        <hr>
        <div class="form-group">
            <label>Самый прибыльный день:</label>
            <span>{{ most_profitable_day }}</span>
        </div>
        <hr>
        <div class="form-group">
            <label>Выведено средств:</label>
            <span>{{ total_withdrawn }}</span>
        </div>
        <hr>
        <button type="submit">Сохранить</button>
        {% if form.errors %}
            <div class="form-errors">
                <ul>
                    {% for field, errors in form.errors.items %}
                        <li>{{ field }}: {{ errors|striptags }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </form>
</div>

<script>
    function toggleEdit(fieldId) {
        const field = document.getElementById(fieldId);
        const isReadOnly = field.hasAttribute('readonly');
        
        if (isReadOnly) {
            field.removeAttribute('readonly');
            field.dataset.initialValue = field.value; // Сохраняем начальное значение
        } else {
            field.setAttribute('readonly', 'readonly');
            field.value = field.dataset.initialValue; // Возвращаем начальное значение
        }
    }
</script>

{% endblock %}
