{% extends 'app/base.html' %}
{% load static %}

{% block content %}
<select id="cryptoSelect" class="cryptoSelect">
        <option value="BTC">BTC</option>
        <option value="ETH">ETH</option>
        <option value="LTC">LTC</option>
        <!-- Добавьте другие криптовалюты по мере необходимости -->
    </select>

<div class="chart-container">
    <div class="trade-controls">
        <div class="time">
            <span>00:00:00</span>
            <span>Время</span>
        </div>
        <div class="amount">
            <span>1$</span>
            <span>Сумма</span>
        </div>
        <div class="buttons">
            <button class="higher"><img src="{% static 'app/img/profit_up.png' %}"/><strong>ВЫШЕ</strong></button>
            <button class="lower"><img src="{% static 'app/img/profit_down.png' %}"/><strong>НИЖЕ</strong></button>
        </div>
    </div>
</div>

<div class="graphic">
    <canvas id="cryptoChart"></canvas>
</div>

<div id="timeRangeButtons" class="timeRangeButtons">
        <button data-range="all">Все время</button>
        <button data-range="5y">5 лет</button>
        <button data-range="1y">1 год</button>
        <button data-range="6m">6 месяцев</button>
        <button data-range="1m">1 месяц</button>
        <button data-range="1w">1 неделя</button>
        <button data-range="1d">1 день</button>
        <button data-range="1h">1 час</button>
    </div>

<script type="text/javascript" src="{% static 'app/js/script.js' %}"></script>
{% endblock %}