{% extends 'app/base.html' %}
{% load static %}

{% block content %}
<div class="chart-container">
    <div class="trade-controls">
        <div class="time">
            <span>00:00:00</span>
            <span>Время</span>
        </div>
        <div class="amount">
            <span>1$</span>
            <span>Сумма</span>
        </div>
        <div class="buttons">
            <button class="higher"><img src="{% static 'app/img/profit_up.png' %}"/><strong>ВЫШЕ</strong></button>
            <button class="lower"><img src="{% static 'app/img/profit_down.png' %}"/><strong>НИЖЕ</strong></button>
        </div>
    </div>
</div>

<div class="graphic">
    <canvas id="cryptoChart"></canvas>
</div>
<script type="text/javascript" src="{% static 'app/js/script.js' %}"></script>
{% endblock %}