{% extends 'app/base.html' %}
{% load static %}

{% block content %}
<div>
    <div class="deposit-withdraw">
        <button class="withdraw"><a href="{% url 'deposit' %}">Deposit</a></button>
        <button class="deposit"><a href="{% url 'withdraw' %}">Withdraw</a></button>
    </div>
</div>
<div class="withdraw-section">
    <div class="info">
        <div class="info-item">Available funds <span>0$</span></div>
        <div class="info-item">Minimum withdrawal amount <span>10$</span></div>
        <div class="info-item">Payment method 
            <select id="payment-method" class="payment-method">
                <option value="visa">Visa</option>
                <option value="mastercard">MasterCard</option>
                <option value="mir">Mir</option>
            </select>
        </div>
        <div class="info-item">Amount <input type="number" id="amount" class="amount-input" min="10" value="10"></div>
    </div>
</div>
<button class="withdraw-button">Withdraw</button>
{% endblock %}
