body {
    font-family: Inner, sans-serif;
    margin: 0;
    padding: 0;
}

section {
    width: 100%;
    box-sizing: border-box;
}

.header-home-page {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: #000;
    color: #fff;
}

.header-home-page .logo {
    font-size: 2vw; /* Размер шрифта в зависимости от ширины экрана */
}

.header-home-page nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-size: 1vw; /* Размер шрифта в зависимости от ширины экрана */
}

.header-home-page nav a:hover {
    text-decoration: underline;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5vw; /* Отступы в зависимости от ширины экрана */
    background: url('../img/crypto_black_bcg.png') repeat;
    background-size: 20%;
    color: #fff;
    font-family: Roboto, sans-serif;
    font-weight: lighter;
    height: 100vh;
}

.hero-image img {
    width: 75%;
}

.hero-text {
    max-width: 30%;
}

.hero-text h1 {
    font-size: 2vw; /* Размер шрифта в зависимости от ширины экрана */
    margin-bottom: 20px;
}

.hero-text p {
    font-size: 1vw; /* Размер шрифта в зависимости от ширины экрана */
    margin-bottom: 20px;
}

.hero-text button {
    padding: 10px 20px;
    font-size: 1vw; /* Размер шрифта в зависимости от ширины экрана */
    background: #fff;
    color: #000;
    border: none;
    cursor: pointer;
}

.hero-text button:hover {
    background: #ddd;
}

.information {
    background: url(../img/crypto_bcg.png) repeat;
    background-size: 20%;
}

.advantages, .why-us {
    display: flex;
    flex-wrap: wrap;
    padding: 50px;
}

.advantages h2, .why-us h2 {
    font-size: 3.5vw; /* Размер шрифта в зависимости от ширины экрана */
    margin-bottom: 20px;
}

.advantages ul, .why-us ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

.advantages ul li, .why-us ul li {
    font-size: 1.5vw; /* Размер шрифта в зависимости от ширины экрана */
    flex: 0 1 calc(50% - 10px); /* Два элемента в строке */
    box-sizing: border-box; /* Учитывание паддингов и бордеров в размере блока */
    margin: 5px; /* Разделение элементов */
    margin-top: 25px;
    padding: 0;
}

.advantage, .reasons {
    display: flex;
    flex-wrap: nowrap;
}

.advantage {
    flex-direction: column;
    flex: 1;
}

.advantage h2 {
    font-size: 3vw; /* Размер шрифта в зависимости от ширины экрана */
    width: 80%;
    margin-top: 100px;
}

.advantage strong {
    display: block;
    font-size: 3vw; /* Размер шрифта в зависимости от ширины экрана */
}

.advantages img {
    width: 100%;
    max-width: 350px;
    height: auto;
}

.advantage-image {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.why-us h2 {
    font-size: 3vw; /* Размер шрифта в зависимости от ширины экрана */
    margin-bottom: 20px;
}

.why-us h3 {
    font-size: 2vw; /* Размер шрифта в зависимости от ширины экрана */
    margin-bottom: 20px;
}

.why-us p {
    width: 50%;
    font-size: 1.5vw; /* Размер шрифта в зависимости от ширины экрана */
}

.fade-in {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.fade-in.show {
    opacity: 1;
    transform: translateY(0);
}

/* Медиазапросы для адаптивности */

@media (max-width: 1200px) {
    .header-home-page .logo {
        font-size: 4vw;
    }

    .header-home-page nav a {
        font-size: 3vw;
    }

    .hero-text h1 {
        font-size: 6vw;
    }

    .hero-text p {
        font-size: 3vw;
    }

    .hero-text button {
        font-size: 2.5vw;
    }

    .advantages h2, .why-us h2 {
        font-size: 4vw;
    }

    .advantages ul li, .why-us ul li {
        font-size: 3vw;
    }

    .advantage h2 {
        font-size: 6vw;
    }

    .advantage strong {
        font-size: 7vw;
    }

    .advantages img {
        width: 100%;
        max-width: 350px;
        height: auto;
    }

    .why-us h3 {
        font-size: 5vw;
    }

    .why-us p {
        font-size: 3vw;
    }
}

@media (max-width: 768px) {
    .header-home-page {
        flex-direction: column;
        align-items: flex-start;
    }

    .hero {
        flex-direction: column;
        align-items: flex-start;
        padding: 0 20px;
    }

    .hero-image img {
        width: 100%;
    }

    .hero-text {
        max-width: 100%;
    }

    .advantages, .why-us {
        flex-direction: column;
        padding: 20px;
    }

    .advantage h2, .why-us h2 {
        width: 100%;
        font-size: 7vw;
    }

    .advantage strong {
        font-size: 8vw;
    }

    .advantages img {
        margin-top: 100px;
        width: 30%;
        display: block;
        max-width: 10px;
        height: auto;
    }

    .why-us h3 {
        font-size: 6vw;
    }

    .why-us p {
        width: 100%;
        font-size: 4vw;
    }

    .advantages img {
        max-width: 100%;
    }
}

/* Trade */

.sidebar {
    width: 70px;
    height: 100vh;
    background: #000;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
}

.items {
    padding: 60px;
}

.menu-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}

.menu-item img {
    width: 30px;
    height: 30px;
}

.menu-item span {
    font-size: 12px;
    margin-top: 5px;
}

.menu-item a, .sidebar a {
    color: white;
    text-decoration: none;
}

.close-sidebar {
    margin-top: auto;
}

.close-sidebar img {
    width: 20px;
    height: 20px;
}

.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.header {
    position: fixed;
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 10px 20px;
    background: #000;
    color: #fff;
    width: 100%;
}

.header .balance {
    display: flex;
    align-items: center;
}

.header .balance span {
    margin-right: 20px;
    font-size: 20px;
}

.balance button {
    background: linear-gradient(90deg, rgba(73,228,144,1) 0%, rgba(73,228,144,1) 43%, rgba(35,179,113,1) 71%, rgba(13,55,51,1) 100%);
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    color: white;
    margin-right: 20px;
    font-size: 15px;
}

.balance img {
    width: 30px;
    vertical-align: middle;
    margin-left: 10px;
}

.header .profile-icon img {
    width: 40px;
    height: 40px;
}

.profile-icon {
    padding-right: 30px;
}

.chart-container {
    flex: 1;
    display: flex;
    position: absolute;
    right: 0;
    height: 100vh;
    width: 200px;
    background: #000000;
    z-index: -1;
}

.chart {
    flex: 3;
    background: url('chart.png') center center no-repeat;
    background-size: cover;
}

.trade-controls {
    flex: 1;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-top: 100px;
}

.trade-controls .time, .trade-controls .amount {
    font-family: "Inter", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.trade-controls .buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.trade-controls .buttons img{
    width: 40px;
    margin-right: 10px;
}

.trade-controls .buttons button {
    background: none;
    border-radius: 5px;
    color: #00ff80;
    padding: 10px 20px;
    margin: 10px 0;
    cursor: pointer;
    display: flex;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    font-family: "Inter", sans-serif;
    font-weight: 600;
}
.trade-controls .buttons button.higher {
    background: #249D92;
    color: #165A53;
    font-size: 20px;
}

.trade-controls .buttons button.lower {
    background: #C95454;
    color: #651D1D;
    font-size: 20px;
}
.content {
    
}

.graphic {
    margin-left: 70px; 
    margin-bottom: 50px; 
    width: calc(100% - 200px - 70px);
    height: calc(100vh - 100px);
}


.body {
    background: url(../img/bcg.jpeg) no-repeat;
    background-size: 100%;
}

.cryptoSelect {
    margin-top: 100px;
    margin-left: 100px;
    position: absolute; 
}

.timeRangeButtons {
    margin-left: 100px;
}